li {
  color: aliceblue;
}

.card img{
  width: 100%;
}

.card {
  margin: 2vh;
  text-align: center;
}

.card-title {
  margin-bottom: 1rem;
}
.cardHolder{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.updateButton,
.deleteButton {
  margin: 1rem;
}

.updateButton {
  margin-right: 27.5%;
}