li {
  color: aliceblue;
}

.card img{
  width: 100%;
}

.card {
  margin: 2vh;
  text-align: center;
}

.card-title {
  margin-bottom: 1rem;
}
.cardHolder{
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
}

.updateButton,
.deleteButton {
  margin: 1rem;
}

h2{
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 300%;
  margin: 3vh;
}

form{
  /* border: 1px solid red; */
  margin-top: 3vh;
}

form label{
  font-weight: bold;
  font-size: 120%;
}